.container
  .logo
    = image_tag 'paradieschen.jpg', class: 'logo--image img-fluid'
    %h1.logo--header Pa*radieschen Wohnprojekt

  .section
    %h2 Wer wir sind
    %p
      Wir sind eine Gruppe von Menschen, die ein Mehrgenerationen-Wohnprojekt in Augsburg realisieren möchten. Dafür treffen wir uns schon seit Anfang 2017 in regelmäßigen Abständen und kommen unserem Ziel Schritt für Schritt näher. Aktuelle Entwicklungen könnt ihr auf #{link_to 'Facebook', 'https://www.facebook.com/paradieschen.augsburg/', target: '_blank'} mitverfolgen.

  .section
    %h2 Was wir wollen
    %p Wir möchten einen Wohnraum schaffen, der uns wie auch allen Nachmieter*innen langfristig bezahlbare Mieten und ein hierarchiefreies Zusammenleben ermöglicht.
    %p Dafür kaufen wir ein leerstehendes Haus oder bauen auf einem freien Grundstück. Die Wohnfläche soll ausbaubar sein, sodass ein späterer Familienzuwachs möglich ist. Wir wollen in getrennten Wohneinheiten oder Wohngemeinschaften wohnen und zusätzlich Gemeinschaftsräume nutzen.
    %p Uns ist wichtig, dass wir auch einen Freiraum für die Gesellschaft bereitstellen, der für kulturellen, ökologischen, sozialen und politischen Aktivitäten kostenfrei zu Verfügung steht. Für dieses Anliegen ist ein zentrumsnaher Wohnraum zu Augsburg vorteilhaft.

  .section
    %h2 Wie funktioniert das
    %p Über Direktkredite von Privatpersonen und Bankkredite kaufen wir einen Wohnraum und passen diesen auf unsere Bedürfnisse an. Über die Mieten werden über mehrere Jahrzehnte zuerst die Bankkredite (Vorrangiger Kredite) und danach die Direktkredite (Nachrangiger Kredite) zurückgezahlt.
    %p Durch den Zusammenschluss mit dem #{link_to 'Mietshäuser Syndikat', 'https://www.syndikat.org/de/', target: '_blank'} garantieren wir, dass der Besitz zukünftig nicht in Privathand zurückgehen kann. Auch berät uns dieses fortlaufend mit der Expertise aus rund 140 erfolgreich umgesetzten Wohnprojekten deutschlandweit.

  .section
    %h2 Unterstützte uns
    %ul
      %li Wir bieten eine Möglichkeit der transparenten, lokalen und sozialen Geldanlage. Eine finanzielle Untersützung ist auch als Spende möglich. Zu diesen Punkten gibt es ein #{link_to 'eigenes Kapitel', '/funding#funding-support'} mit allen Hintergrundinformationen.
      %li Für unser Wohnprojekt suchen wir noch nach einem geeigneten Wohnraum oder Grundstück für circa 15 Personen in zentrumsnähe von Augsburg. Interessierte Verkäufer*innen können sich gerne #{link_to 'bei uns', '/contact'} melden.
      %li Wir freuen uns über jede*n, der zu unseren Treffen kommt. Wir leben von der Eigeninitiative vieler Menschen!
